@model DataLogicLayer.ViewModels.CustomerListViewModel
@if(Model.Page.TotalRecords <= 0)
{
    <h3>No Records Found</h3>
}
else
{
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr class="text-center">
                <th scope="col">
                    Name
                    <button class="btn p-0 sort-btn" data-order="asc"  data-name="name">
                        <img src="~/images/icons/arrow-up.svg" alt="" width="20px" />
                    </button>
                    <button class="btn p-0 sort-btn" data-name="name" data-order="desc">
                        <img src="~/images/icons/arrow-down.svg" alt="" width="20px" />
                    </button>
                </th>
                <th scope="col">Email</th>
                <th scope="col">Phome Number</th>
                <th scope="col">Date
                    <button class="btn p-0 sort-btn" data-order="asc"  data-name="date">
                        <img src="~/images/icons/arrow-up.svg" alt="" width="20px" />
                    </button>
                    <button class="btn p-0 sort-btn" data-name="date" data-order="desc">
                        <img src="~/images/icons/arrow-down.svg" alt="" width="20px" />
                    </button>
                </th>
                <th scope="col">Total Orders
                    <button class="btn p-0 sort-btn" data-order="asc"  data-name="totalAmount">
                        <img src="~/images/icons/arrow-up.svg" alt="" width="20px" />
                    </button>
                    <button class="btn p-0 sort-btn" data-name="totalAmount" data-order="desc">
                        <img src="~/images/icons/arrow-down.svg" alt="" width="20px" />
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var customer in Model.CustomerList)
            {
                <tr class="text-center">
                <td class="user_profile">
                    @customer.Customername
                </td>
                <td>@customer.Email</td>
                <td>@customer.Phone</td>
                <td>@customer.Date</td>
                <td>@customer.TotalOrders</td>
            </tr>
            }
        </tbody>
    </table>
</div>

<!-- Paggination Frontend Start -->
<div class="d-flex flex-sm-row flex-column align-items-sm-center justify-content-end pagination_container">
    <div class="d-flex flex-row align-items-center">
        <span>Items per page:</span>

        <!-- Page  Numbers Drop Down -->
        <select class="form-select w-auto" onchange="CustomerPaginationAjax(1)" aria-label="Default select example" id="customerPageSize">
            @if (Model.Page.PageSize != null)
            {
                <option value="3" selected="@(Model.Page.PageSize == 3 ? true : false)">3</option>
                <option value="5" selected="@(Model.Page.PageSize == 5 ? true : false)">5</option>
                <option value="10" selected="@(Model.Page.PageSize == 10 ? true : false)">10</option>
                <option value="15" selected="@(Model.Page.PageSize == 15 ? true : false)">15</option>
            }
        </select>
    </div>

    <span style="margin-left: 8px" class="pagination_details">
        Showing @Model.Page.FromRec - @Model.Page.ToRec of @Model.Page.TotalRecords

    </span>

    @if (Model.Page.TotalPages >= 1)
    {
        <div>
            <!-- Previous Page button-->

            <button type="button" class="btn border border-black prev_page" id="prevPageIcon" @(Model.Page.CurrentPage > 1 ?
                " " : "disabled") onclick="CustomerPaginationAjax(@Model.Page.CurrentPage-1)">
                <img src="~/images/icons/chevron-left.svg" alt="" />
            </button>

            <!-- Next Page button-->
            <button type="button" class="btn border border-black" id="nextPageIcon" @(Model.Page.CurrentPage <
                Model.Page.TotalPages ? " " : "disabled") onclick="CustomerPaginationAjax(@Model.Page.CurrentPage+1)">
            <img src="~/images/icons/chevron-right.svg" alt="" />
        </button>
    </div>
        }
</div>
<!-- Pagination Frontend Ends -->
}